# ===============
# DATA
# ===============
data/
*.csv
*.gz

# ===============
# PYTHON & ENV
# ===============
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# ===============
# DAGSTER
# ===============
# Keep dagster.yaml (instance config) but ignore runtime artifacts
.dagster/storage/
.dagster/schedules/
.dagster/runs/
.dagster/event_logs/
.dagster/.logs_queue/
.dagster/.nux/
.dagster/.telemetry/
.dagster/history/
.dagster/logs/
.tmp_dagster_*/

# ===============
# DBT
# ===============
target/
dbt_packages/
logs/

# ===============
# NEXT.JS & NODE
# ===============
node_modules/
.next/
out/
build/
.DS_Store
